# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Gradio
.gradio/

# Logs
*.log
error.log

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Models - ignore old normalization if needed
# models/audio_params/feature_mean.npy
# models/audio_params/feature_std.npy

data/
*.mp3